-e git+https://github.com/praekelt/swagger-django-generator.git@master#egg=swagger-django-generator
-e git+https://github.com/praekelt/apitools@master#egg=apitools
python_dateutil == 2.6.0
pymemcache < 2.0.0 # To be replaced by aiomcache
jsonschema
aiohttp
aiohttp-cors
aiodns    # For use with aiohttp
cchardet  # For use with aiohttp
rstr      # For mock class in generated server code.
urllib3
certifi
pyjwt
raven  # Sentry
raven-aiohttp >= 0.7.0  # aiohttp support for Sentry
