-e git+https://github.com/praekelt/swagger-django-generator.git@cobusc-aiohttp-capability#egg=swagger-django-generator
python_dateutil == 2.6.0
pymemcache < 2.0.0 # To be replaced by aiomcache
jsonschema
aiohttp
aiodns    # For use with aiohttp
cchardet  # For use with aiohttp
apitools  # For mock class in generated server code.
rstr      # For mock class in generated server code.
urllib3
certifi
